<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <div class="title"><span>Login Form</span></div>
      <form action="#">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Email or Phone" required>
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" required>
        </div>
        <div class="pass"><a href="#">Forgot password?</a></div>
        <div class="row button">
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <button onclick="redirectToSignupPage()">Signup now</button></div>
      </form>
    </div>
  </div>

  <script>
    function redirectToSignupPage() {
      window.location.href = "/signup"; // Update with the correct URL for your signup page
    }
  </script>
</body>
</html>
