<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/recommendations.css" />
  </head>
  <body>
    <div class="desktop-4">
      <div class="search-job">Search job</div>
      <h1> </h1>
      <ul>
          {% for data in data_list %}
          <li>{{ data }}</li>
          {% endfor %}
      </ul>
      <!---
      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="official-link">Official link</div>
        </div>
        <b class="government-college-of"
          >Government College of Engineering (GECA), Aurangabad</b
        >
        <div class="bachelor-of-engineering">
          Bachelor Of Engineering [BE] (Computer Science And Engineering)
        </div>
        <div class="cutoff-by-percentile-container">
          <p class="p">2023</p>
          <p class="p">Cutoff By Percentile 97.78</p>
        </div>
      </div>
      <div class="group-container">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="official-link">Official link</div>
        </div>
        <b class="government-college-of"
          >Government College of Engineering (GECA), Aurangabad</b
        >
        <div class="bachelor-of-engineering1">
          Bachelor Of Engineering [BE] (Electrical Engineering)
        </div>
        <div class="cutoff-by-percentile-container">
          <p class="p">2023</p>
          <p class="p">Cutoff By Percentile 89.93</p>
        </div>
      </div>
      <div class="frame-parent">
        <div class="government-college-of-engineer-parent">
          <b class="government-college-of"
            >Government College of Engineering (GECA), Aurangabad</b
          >
          <div class="bachelor-of-engineering2">
            Bachelor Of Engineering [BE] (Mechanical Engineering)
          </div>
          <div class="cutoff-by-percentile-container">
            <p class="p">2023</p>
            <p class="p">Cutoff By Percentile 83.88</p>
          </div>
        </div>
        <div class="group-child1"></div>
        <div class="group-item"></div>
        <div class="official-link2">Official link</div>
      </div>
      <div class="frame-div">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="official-link">Official link</div>
        </div>
        <b class="government-college-of"
          >Government College of Engineering (GECA), Aurangabad</b
        >
        <div class="bachelor-of-engineering-container">
          <span
            >Bachelor Of Engineering [BE] (Electronics & Telecom Enginee</span
          >
          <span class="ri">ri</span>
          <span>ng)</span>
        </div>
        <div class="cutoff-by-percentile-container">
          <p class="p">2023</p>
          <p class="p">Cutoff By Percentile 93.83</p>
        </div>
      </div>
      <div class="group-parent1">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="official-link">Official link</div>
        </div>
        <b class="government-college-of"
          >Government College of Engineering (GECA), Aurangabad</b
        >
        <div class="bachelor-of-engineering3">
          Bachelor Of Engineering [BE] (Information Technology)
        </div>
        <div class="cutoff-by-percentile-container">
          <p class="p">2023</p>
          <p class="p">Cutoff By Percentile 95.76</p>
        </div>
      </div>
      <img class="image-1-icon" alt="" src="" />

      <img class="image-2-icon" alt="" src="./public/image-1@2x.png" />

      <img class="image-3-icon" alt="" src="./public/image-1@2x.png" />

      <img class="image-4-icon" alt="" src="./public/image-1@2x.png" />

      <img class="image-5-icon" alt="" src="./public/image-1@2x.png" />
    -->
      <div class="rectangle-parent1">
        <div class="group-child7"></div>
        <div class="group-child8"></div>
        <div class="about-us-wrapper">
          <div class="about-us">About us</div>
        </div>
        <div class="contact-us-wrapper">
          <div class="contact-us">Contact Us</div>
        </div>
        <div class="engineeringaspirations-simpli">
          "EngineeringAspirations" simplifies college selection for MHTCET exam
          takers. It offers secure, fast, and reliable eligibility estimates,
          with a database covering cutoffs, fees, and extracurriculars
        </div>
        <div class="engineeringaspirantsgmailcom">
          engineeringAspirants@gmail.com
        </div>
        <img class="image-2-icon1" alt="" src="./public/image-2@2x.png" />
      </div>
      <div class="home-parent">
        <div class="home">Home</div>
        <div class="how-it-works">How It Works</div>
        <img class="image-2-icon2" alt="" src="./public/image-21@2x.png" />
      </div>
    </div>
  </body>
</html>
